.login-body {
  justify-content: space-between;
  display: flex;
  align-items: center;
  
  background-color: #e2faf0;
  background-image: url("https://apsp-oilchange.dev.altasoftware.vn/assets/bg-login-ghNcnBS0.png");
  background-position: center; // tương đương 50% 50%
  background-size: 100%;

  line-height: 24px;
  width: 1920px;
  height: 945px;
  text-align: left;
  margin: 0px;
  padding: 0px;

  .auth-wrapper {
    line-height: 24px;
    text-align: left;
    width: 960px;
    height: 587px;

    .content-form {
    margin: 0 195px;
    padding: 40px 15px;

    border-radius: 12px;

    line-height: 24px;
    text-align: left;

    width: 570px;
    height: 587px;;

    .logo {
        width: 432px;
        height: 125px;

        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 24px;
        margin: 0px 54px 80px;
        text-align: left;
    }

    h1 {
        color: #005878 !important;
        font-family: Inter, sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 30px;
        margin: 0px 0px 48px;
        text-align: center;        
    }

    }
  }
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 224px;
    color: #333;
    font-size: 14px;
    line-height: 22px;
    text-align: left;

    input {
        background-color: #fff;
        border-color: #d9d9d9;
        border-radius: 6px;
        border-style: solid;
        border-width: 1px;
        box-shadow: #0000 0px 0px 0px 0px;
        color: #03031d;
        display: inline-block;
        font-family: Inter, sans-serif;
        font-size: 14px;
        line-height: 22px;
        padding: 10px 16px;

        &:hover {
            border: 1px solid #0D733B;
        }

        &:focus {
            display: inline-block;

            //background-color: #e8f0fe;
            border: 1px solid #0d733b;
            border-radius: 6px;

            box-shadow: 0px 0px 0px 2px #e9fdf2;

            padding: 10px 16px;

            font-family: "Inter", sans-serif;
            font-size: 14px;
            line-height: 22px;
            outline: none;
        }

        &::placeholder {
            //color: #03031d;
            font-family: Inter, sans-serif;
        }
    }

    .username-input.error,
    .password-input.error {
        border: 1px solid red;

        &:focus {
            border: 2px solid red;
            box-shadow: 0px 0px 0px 2px #fddede;
        }
    }

    .password-wrapper {
        position: relative;
        width: 540px;

        .password-input {
            width: 100%;
            padding-right: 48px;
            background-color: #fff;
            background-clip: padding-box;
        }

        .password-toggle {
            position: absolute;
            right: 15px;
            top: 0;
            height: 100%;
            display: flex;
            align-items: center;
            padding-right: 10px;
            background: transparent;
            pointer-events: auto;

            svg {
                width: 14px;
                height: 14px;
                color: #333;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .item-control {
        color: #333;
        display: flex;
        font-size: 15.5px;
        justify-content: space-between;
        line-height: 22px;
        text-align: left;
        height: 25px;
        margin-bottom: 16px;
        position: relative;
        margin-left: -5px;

        label {
            color: #4d4d4d;
            line-height: 25.1429px;
            padding: 0px 8px;
            text-align: left;
            align-items: center;
            width: 190px;
            height: 25px;
            display: flex;
            gap: 17px;
            font-family: Inter, sans-serif;
            //font-size: 14px;
            position: relative;
            margin-left: -5px !important;

            &:hover {
                cursor: pointer;
            }
        }

        a {
            color: #21924f;
            display: inline;
            font-family: Inter, sans-serif;
            font-weight: 700;
            line-height: 25.1429px;
            text-align: end;
            width: 150px;
            height: 20px;
            font-size: 16px;
        }
    }
}





.login-button {
    background-color: #0d733b;
    border-color: #0000;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 31.4286px;
    text-align: center;
    padding: 8px 0px;

    &:hover {
        cursor: pointer;
    }
}

.login-footer {
    align-items: center;
    color: #0d733b;
    display: flex;
    flex-direction: row;
    font-family: Inter, sans-serif;
    //font-weight: 700;
    justify-content: space-between;
    line-height: 24px;
    padding: 20px 30px;
    text-align: left;
    bottom: 0px;
    position: absolute;
    gap: 1530px;

    .copyright {
        color: #0d733b;
        //font-weight: 700;
        line-height: 24px;
        text-align: left;
        font-size: 17px;
    }

    .hotline {
        text-align: right;
        font-family: Inter, sans-serif;
        font-weight: 700;
        right:0px;
    }
}


.ant-checkbox-wrapper {
  align-items: center !important;
  width: 20px !important;

  .ant-checkbox {
    width: 20px !important;
    height: 20px !important;
    border-radius: 4px !important;
    border-color: #005556 !important;
    background-color: #fff !important;

    &::after {
      top: 9px !important;
      inset-inline-start: 4px !important;
      width: 7px !important;
      height: 11px !important;
    }

    &:hover {
      border-color: #0D733B !important;
    }

  }

  .ant-checkbox-input:focus {
    transform: scale(1,1);
  }

  .ant-checkbox-checked {
    border-color: #0D733B !important;
    background-color: #0D733B !important;

    &::after {
      top: 9px !important;
      inset-inline-start: 4px !important;
    }
  }
}