@use "../../styles/color";
.profile-page {
    background-color: color.$background-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.profile-content {
    margin-top: 100px;
    width:1920px;
    height: 699px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title{
        color: #0d733b;

        font-family: 'Inter', sans-serif;
        font-size: 48px;
        font-weight: 700;
        letter-spacing: -1.44px;

        text-align: center;

        margin: 0 0 32px;
    }
}

.profile-user-box {
    background-color: #fff;

    border-radius: 16px;

    box-shadow: 0 0 10px 0 #005d6926;

    margin: 40px 384px;

    padding: 48px 120px;

    width:  1152px;
    height: 512px;
    display: flex;
    flex-direction: row;

    .profile-nav {
        right: 0px;
        top: 200px;
        position: absolute;
    }

    .profile-user-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 120px;

        .avt-role {
            display: flex;
            flex-direction:column;
            align-items: center;

            img {
                width: 192px;
                height: 192px;
                border-radius: 50%;

                color: #333;

                line-height: 24px;

                text-align: left;
                margin-bottom: 24px;
            }

            h2 {
                color: #005d69;

                font-family: 'Inter', sans-serif;
                font-size: 24px;
                font-weight: 700;

                line-height: 24px;

                text-align: center;

                margin: 24px 0 0;
            }
        }
    }
}

.profile-form-box {

    display: flex;
    flex-direction: column;
    flex-basis: 0%;

    color: #333;

    line-height: 24px;

    text-align: left;
    width: 600px;
    height: 416px;

    label {
        display: inline-flex;
        align-items: center;

        color: #4d4d4d;

        font-family: -apple-system;
        font-size: 18px;
        font-weight: 450;
        line-height: 28.2857px;

        text-align: left;
        margin-bottom: 8px;
        height: 43px;
    }

    input {
        background-color: #efefef;
        border-color: #d9d9d9;
        border-radius: 6px;
        border-style: solid;
        border-width: 1px;
        box-shadow: #0000 0px 0px 0px 0px;
        color: #03031d;
        display: inline-block;
        font-family : Inter;
        line-height: 25.1429px;
        padding: 9px 16px;

        width: 600px;
        height: 48px;
        font-size: 18px;

        &::placeholder {
            color: #bfbfbf;
        }

        &:disabled {
            cursor: not-allowed;
        }

        &:hover {
            border-color: color.$side-bar-color;
        }
    }
}

.wrap-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 40px 0px 0px;

    .back-btn{
        background-color: #217f48;

        border: 1px solid transparent;
        border-radius: 8px;

        color: #fff;

        font-family: 'Inter', sans-serif;
        font-weight: 700;
        line-height: 25.1429px;

        text-align: center;
        width: 150px;
        height: 48px;

        display: inline-block;

        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 25.1429px;

        text-align: center;
        &:hover {
            cursor: pointer;
        }
    }
}