.main-page .main-layout{
    background-color: #fff !important;
    height: 841px;

    margin: 0px 79px 20px 20px; 
    border-radius: 18px;

}

.right-menu-wrapper {
    position: fixed;
    right: -15px;
    top: 95px;
    z-index: 100;
}


table .ant-checkbox-input {
    align-items: center;
    justify-content: center;
    
    &.ant-checkbox-checked::after {
    width: 7px;
    height: 11px;
  }
}

.custom-table {
  padding-top: 25px;
}

.custom-table .ant-checkbox {
  width: 24px !important;
  height: 24px !important;
  border-radius: 4px;
  // Checkmark  
}


.ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected >.ant-table-cell {
    background: #e2faf0 !important;
}



.ant-table-thead .ant-table-selection-column {
  .ant-checkbox-wrapper .ant-checkbox.ant-checkbox-indeterminate::after {
    width: 16px !important;
    height: 2px !important;
    background-color: #0d733b !important;
    border: none !important;
    border-radius: 0 !important;
    inset-inline-start: 50% !important;
    inset-block-start: 50% !important;
    inset-block-end: unset !important;
    transform: translate(-50%, -50%) !important;
  }
}

.footer {
  margin-right: 0
}