.confirm-change-popup {
  background-color: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;

}

.confirm-change-popup .ant-modal-content {
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: none;
}

.confirm-change-popup .ant-modal-body {
  padding: 32px 32px 24px;
  background-color: #fff;
  border-radius: 8px;
}

.confirm-change-connent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  
}

.confirm-change-icon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #0d733b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 32px;
  margin-top: -60px;
  margin-bottom: 15px;
}

.confirm-change-icon svg {
  width: 45px;
  height: 45px;
}

.confirm-change-text h1 {
  margin: 0;
  color: black;
  font-size: 24px;
  font-weight: 700;
}

.confirm-change-text p {
  margin: 0;
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 5px;
}

.confirm-change-actions {
  display: flex;
  gap: 25px;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
}

.confirm-change-actions button {
  min-width: 150px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.cancel-change-btn {
  background-color: #fff;
  color: #0d733b;
  border: 1px solid #0d733b !important;
}

.confirm-change-btn {
  background-color: #0d733b;
  color: #fff;
}

.green-outlined {
  background-color: #0d733b;
  width: 502px !important;
  padding: 5px;

  margin-top: -33px;
  border-radius: 8px 8px 0 0;
}
