.flex-bar-row {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between !important;
    width: 100%;

    //gap: 16px;
    .search-component {
        flex: 1;
    }
    .select-component {
        margin-right: 30px;
    }
}